@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

.glass-effect {
  backdrop-filter: blur(6px);

  background-color: rgba(255, 255, 255, 0.2);

  border-radius: 23px;

  box-shadow: 35px 35px 68px 0px rgba(145, 192, 255, 0.5), inset -4px -4px 16px 0px rgba(145, 192, 255, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
}
